<p-panel header="{{configurated}}" [collapsed]="true"
	[toggleable]="true">
<div class="ui-g">
	<div class="ui-g-12 ">
		<div class="ui-g-4 ui-sm-12">
			<div class="ui-g-12">
				<b>Anzahl an vertragsgebundenen Anlagen</b>
			</div>
			<div class="ui-g-6 ui-sm-12 " style="margin-top: 4px;">
				<label for="numberOfPlans">Anzahl an Anlagen:</label>
			</div>
			<div class="ui-g-6 ui-sm-12">
				<p-dropdown (onChange)="valueChanged($event)" class="ui-grid-col-6"
					id="numberOfPlans" [style]="{'width':'100%'}"
					[options]="numberOfConnection" [(ngModel)]="selectedCity"></p-dropdown>
			</div>
		</div>
		<div class="ui-g-8 ui-sm-12">
			<div class="ui-g-12">
				<b>Anlagen</b>
			</div>
			<div class="ui-g-12"
				*ngFor="let item of selectedNumberOfConnections; let i = index"
				style="padding: .1em;">
				<div class="ui-g-2 ui-sm-12" style="margin-top: 4px;">
					<label for="numberOfPlans">Anlage {{i+1}} :</label>
				</div>
				<div class="ui-g-4  ui-sm-12">
					<input type="text" pInputText style="width: 100%;"
						placeholder="Queue-Adresse" [(ngModel)]="item.queueAdress" />
				</div>
				<div class="ui-g-3 ui-sm-12 ">
					<input type="text" pInputText style="width: 100%;"
						placeholder="Zugangsname" [(ngModel)]="item.username" />
				</div>
				<div class="ui-g-3 ui-sm-12 ">
					<input type="password" pInputText style="width: 100%;"
						placeholder="Zuganspaswort" [(ngModel)]="item.password" />
				</div>
			</div>
			<div class="ui-g-12" style="text-align: right;">
				<button pButton type="button" label="Daten übermitteln"
					(click)="count()"></button>
			</div>


		</div>
	</div>
</div>
</p-panel>