
<div>
	<div class="ui-g">
	<div class="ui-g-10 "> <h1>Web Livemonitoring !</h1> </div>
	<div class="ui-g-2" style="text-align: right;padding-top:2em; "><button pButton type="button" (click)="logout()" label="Abmelden"></button> </div>
	</div>
	 
	
	<div class="row">
		<div class="col-sm-12">
			<configs></configs>

			<p-tabView (onChange)="handleChange($event)"> <p-tabPanel
				header="Eingehende Datensätze" leftIcon="fa-bell-o">
			<h3>Empfangene Datensätze</h3>

			<p-dataTable [value]="cars"> <p-column
				*ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
			</p-dataTable> </p-tabPanel> 
			
			<p-tabPanel header="Service und Server Konfigurationen"	leftIcon="fa-gear"> 

<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
</div>	

<p-dataTable [value]="response" [rows]="20" [paginator]="true" [globalFilter]="gb">
    <p-column field="name" header="Name"></p-column>
    <p-column field="value" header="Wert"></p-column>
    <p-column field="desc" header="Beschreibung"></p-column>
</p-dataTable>


			 </p-tabPanel>
				
				 <p-tabPanel header="Was auch immer"
				leftIcon="fa-bell-o" rightIcon="fa-bookmark-o">  </p-tabPanel> </p-tabView>
		</div>
		<div>



			<h3>Dynamic Columns</h3>

		</div>
		<div class="col-sm-3" style="background-color: pink;">
			<div class="ContentSideSections">
				<div class="Content100 overHidden TextShadow">
					<span
						class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">PrimeNG
						Sample with System.js</span> <span class="defaultText dispTable">This
						sample demonstrates a sample setup using System.js.</span>
				</div>


			</div>

		</div>
	</div>
</div>
